#container {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 100%;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%
}
.col-6 {
    width: 49%;
}
.col-7 {
    width: 57.33%;
}
.col-8 {
    width: 65.66%;
}
.col-9 {
    width: 74%;
}
.col-10 {
    width: 82.33%
}
.col-11 {
    width: 90.66%;
}
.col-12 {
    width: 99%;
}

#header {
    background-color: blue;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

#banner {
    background-color: blue;
}

img {
    margin-top: 20px;
    margin-bottom: 10px
}

#price {
    margin-top: 20px;
    margin-bottom: 20px;
}

#money {
    margin-top: 20px;
    margin-bottom: 20px;
}

#text-description {
    text-overflow: scroll;
    word-wrap: break-word;
}

h3 {
    color: white;
    text-align: center;
}