/**********************************************
Whole Website
***********************************************/

/**********************************************
Header
***********************************************/
#banner {
    background-color: blue;
}

h1 {
    text-align: center;
    color: white;

}

h3 {
    text-align: center;
    color: blue;
}

/**********************************************
Body
***********************************************/

/**********************************************
Footer
***********************************************/