@media screen and (max-width: 700px) {
    img {
        display: block;
        margin: 0 auto;
        margin-top: 40px
    }
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    h4 {
        margin-bottom: 25px;
    }
    #cart {
        margin-bottom: 25px;
    }
    .desktop {
        display: none;
    }
}
@media screen and (min-width: 701px) {
    .mobile {
        display: none;
    }
    #cart {
        margin-top: 120px;
    }
}