@media screen and (max-width: 500px) {
    #desktop {
        display: none;
    }

    h3 {
        font-size: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
        margin-top: 40px
    }

    #price {
        color: red;
    }

    h4 {
        margin-bottom: 25px;
    }

    #text-description {
        display: none;
    }

    #cart {
        margin-bottom: 25px;
    }

    #fb {
        float: right;
    }

    #twitter {
        float: left;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    #desktop {
        display: none;
    }

    #mobile {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #price {
        display: all;
        color: red;
        text-align: center;
        font-size: 20px;
    }

    h4 {

    }

    #cart {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    #description {
        display: none;
    }

    #text-description {
        display: all;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}

@media screen and (min-width: 1001px) {
    #mobile {
        display: none;
    }

    #desktop {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    #descripters {
        padding-right: 30px;
    }

    #see {
        display: none;
    }

    #cart {
        margin-top: 135px;
    }

    #fb {
        margin-top: 42px;
    }
}