#container {
    display: flex;
    flex-wrap: wrap;
}

div {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


#image {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

figcaption {
    font-style: italic;
}

#price {
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
}

#text-description {
    text-overflow: scroll;
    word-wrap: break-word;
}

#cart {
    margin-top: 25px;
}